<html>
    <head>
        <title>zed</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>

    <body class="container">
        <br>
        <table width="100%">
            <tr>
                <td><p>zed <small>the link site you never asked for</small></p></td>
                <td><p style="text-align:right;">{% if user.id == -1 %}<a href="/login">Login</a> | <a href="/register">Register</a>{% else %}{{ user.name }} | <a href="/logout">Logout</a>{% endif %}</p></td>
            </tr>
        </table>
        <hr>
        <div id="content" class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
